
@{
    ViewBag.Title = "deleteCashier";
}

<br />
<br />
<h2>Delete User</h2>

<form method="post" action="@Url.Action("deleteCashier")">
    Id:<input type="text" name="cid" class="form-control form-control" /><br/>
    <input type="submit" value="Delete" />
</form>