
@{
    ViewBag.Title = "updateItem";
}

<br/>
<br/>
<h2>Update Item</h2>

<form method="post" action="@Url.Action("updateItem")" class="form-group">
    Id:<input type="text" name="iid" class="form-control form-control" />
    Name:<input type="text" name="iName" class="form-control form-control"  />
    Quantity:<input type="number" name="iQuantity" class="form-control form-control"  />
    Price:<input type="number" name="iDesc" class="form-control form-control" /><br/>
    <input type="submit" value="Update" />
</form>